<div class='panel panel-default'>
  <div class='panel-heading'>
    <h4>Newsletters</h4>
  </div>

  <div class='panel-body'>
    <div class='list-group'></div>
  </div>
</div>

<a class='btn pull-right btn-success' id='add-newsletter'>Add a New Newsletter</a>