<div class='modal-dialog'>
  <div class='modal-content'>

    <div class='modal-header'>
      <button type='button' class='close' data-dismiss='modal'>×</button>
      <h4 class='modal-title'>{{title}}</h4>
      <h6>{{tags}}</h6>
    </div>

    <div class='modal-body'>
      <div class='row'>
        <div class='col-lg-10 col-md-10 col-lg-offset-1 col-md-offset-1'>
          <form class='form-horizontal'>
            <div class='form-group'>
              <textarea rows='20' id='newsletter-preview' class='form-control'>{{renderedHTML}}</textarea>
            </div>
          </div>
        </form>
      </div>
    </div>

    <div class='modal-footer'>
      <p>Copy and paste the above HTML code into it's final resting place. As long as your content management system is expecting HTML, the above code should work great.</p>
    </div>

  </div>
</div>