<div id='nav-container'></div>


{{#channelHelpersExist channels}}
  <div class='template-helpers'>
    <div class='controls'>
      <span class='hide-helpers glyphicon glyphicon-chevron-up'></span>
      <span class='show-helpers glyphicon glyphicon-chevron-down'></span>
      <h4>Template Helpers</h4>
    </div>

    <div class='options'>
      {{#getChannelHelpers channels}}
        <div class='option-item'>
          <input type='text' class='form-control template-helper' data-helper-id='{{id}}' placeholder='{{title}}' />
          <p class='help-block'>{{{help-text}}}</p>
        </div>
      {{/getChannelHelpers}}
    </div>
  </div>
{{/channelHelpersExist}}

<iframe id='iframe-newsletter' src='' />

<div id='publish-buttons'>
  <a class='btn btn-success pull-right' id='publish'>View HTML</a>
</div>