<div class='panel panel-default'>
  <div class='panel-heading'>
    <h4>Publications</h4>
  </div>

  <div class='panel-body'>
    <p>You currently have access to the below newsletters, if you need access to an additional group, please contact the group owner on <a href='http://passport.vml.com'>Passport</a>.</p>
    <div class='list-group'>
      
    </div>

    <a class='btn pull-right btn-success' id='add-publication'>Add a New Publication</a>
  </div>
</div>