<div class='row' id='site-navigation'>
  <a href='/logout' class='logout'>Logout</a>
  <h3><a href='/'>Gutenberg</a></h3>
  <ul class='breadcrumb'></ul>
</div>
<div id='main-container' class='row'></div>