<div class='row' data-id='{{id}}'>

  <div class='col-lg-1 col-md-1 col-sm-1 story-controls'>
    <div class='btn-group-vertical'>
      <button class='btn btn-default glyphicon glyphicon-arrow-up sort-button up' type='button' />
      <button class='btn btn-default glyphicon glyphicon-arrow-down sort-button down' type='button' />
    </div>
  </div>

  <div class='col-lg-7 col-md-7 col-sm-7 story-editor'>

    <div class='form-group'>
      <input class='form-control title model-input' name='title' value='{{title}}' placeholder='Story Title'>
    </div>

    <div class='form-group editor-wrapper'></div>

    <div class='form-group'>
      <textarea rows='1' name='teaser' class='form-control teaser model-input' placeholder='Teaser...'>{{teaser}}</textarea>
    </div>

    <div class='row'>
      <div class='col-lg-4 col-md-4 col-sm-4'>
        <a class='btn btn-danger btn-sm destroy' href='#'>Delete Story<a/>
      </div>

      <div class='channel_selectors col-lg-7 col-md-7 col-sm-7 pull-right'></div>
    </div>

  </div>


  <div class='col-lg-4 col-md-4 col-sm-4'>
    <div class='media-list-container image-list-container'></div>
    <div class='media-list-container video-list-container'></div>
    <div class='add-images'></div>
    <button class='btn btn-info add-video'><span class='glyphicon glyphicon-plus-sign'></span> Add Video</button>
  </div>

</div>

<hr />