<div class='row' data-id='{{id}}'>

  <div class='col-lg-8 col-md-8 col-sm-8 story-editor'>

    <div class='form-group'>
      <input class='form-control title model-input' name='title' value='{{title}}' placeholder='Story Title'>
    </div>

    <div class='form-group editor-wrapper'></div>

    <div class='form-group'>
      <textarea rows='1' name='teaser' class='form-control teaser model-input' placeholder='Teaser...'>{{teaser}}</textarea>
    </div>

    <div class='row'>
      <div class='col-lg-6 col-md-6 col-sm-6'>
          
          <div class='btn-group'>
            <button class='btn btn-default btn-sm sort-button up' type='button'>
              <span class='glyphicon glyphicon-arrow-up'></span>
            </button>
            <button class='btn btn-default btn-sm sort-button down' type='button'>
              <span class='glyphicon glyphicon-arrow-down'></span>
            </button>
          </div>

        <button class='btn btn-danger btn-sm destroy' href='#'>Delete Story</button>
      </div>

      <div class='channel_selectors col-lg-6 col-md-6 col-sm-6 pull-right'></div>
    </div>

  </div>


  <div class='col-lg-4 col-md-4 col-sm-4'>
    <div class='media-list-container image-list-container'></div>
    <div class='add-images'></div>
    <div class='media-list-container video-list-container'></div>
    <button class='btn btn-info add-video'><span class='glyphicon glyphicon-plus-sign'></span> Add Video</button>
  </div>

</div>

<hr />