<div class="qq-uploader">
  <div class="qq-upload-drop-area btn btn-info"><span class="glyphicon glyphicon-cloud-upload"></span> {dragZoneText}</div>
  <div class="qq-upload-button btn btn-success"><span class="glyphicon glyphicon-cloud-upload"></span> {uploadButtonText}</div>
  <span class="qq-drop-processing"><span>{dropProcessingText}</span><span class="qq-drop-processing-spinner"></span></span>
  <ul class="qq-upload-list" style="margin-top: 10px; text-align: center;"></ul>
</div>