<div class='panel panel-default'>
  <div class='panel-heading'>
    <h4>Users</h4>
  </div>

  <div class='panel-body'>
    <input class='form-control' placeholder='Filter Users' />
    <div class='list-group'></div>
  </div>
</div>