<span class='name'>
  {{#if name}}
    {{name}}
  {{else}}
    {{username}}
  {{/if}}
</span>

{{#if isOwner}}
  <a data-action='revokeOwner' class='btn btn-warning btn-xs pull-right' href='#'>Revoke Ownership</a>
{{/if}}

{{#if isEditor}}
  <a data-action='revokeEditor' class='btn btn-danger btn-xs pull-right' href='#'>Revoke Editor</a>
{{/if}}

{{#unless isOwner}}
  {{#unless isEditor}}
    <a data-action='makeEditor' class='btn btn-success btn-xs pull-right' href='#'>Make Editor</a>
    <a data-action='makeOwner' class='btn btn-info btn-xs pull-right' href='#'>Make Owner</a>
  {{/unless}}
{{/unless}}