<!DOCTYPE html>
<html>
    <head>
        <title>Gutenberg</title>
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

        <!--STYLES-->
        <link rel="stylesheet" href="/linker/styles/Jcrop.css">
        <link rel="stylesheet" href="/linker/styles/bootstrap.css">
        <link rel="stylesheet" href="/linker/styles/fineuploader-3.8.2.css">
        <link rel="stylesheet" href="/linker/styles/style.css">
        <!--STYLES END-->

        <!-- Populate the me object for easy user reference -->
        <script type="text/javascript">
            window.meAsPlainObject = <%- JSON.stringify(me) %>;
        </script>

        <!--SCRIPTS-->
        <script data-main="/linker/js/start.js" src="/linker/js/vendor/require.js"></script>
        <!--SCRIPTS END-->

        <script src="linker/js/require-config.js"></script>
    </head>

    <body></body>
</html>