!!!
html
  head
    title Gutenberg

    meta(name="viewport", content="width=device-width, initial-scale=1, maximum-scale=1")

    // STYLES
    link(rel="stylesheet", href="/linker/styles/Jcrop.css")
    link(rel="stylesheet", href="/linker/styles/bootstrap.css")
    link(rel="stylesheet", href="/linker/styles/fineuploader-3.8.2.css")
    link(rel="stylesheet", href="/linker/styles/style.css")
    // STYLES END

    // Populate the me object
    script(type='text/javascript').
        window.meAsPlainObject = !{JSON.stringify(me)}

    script(type="text/javascript" src="/vendor/require.js")
    script(type="text/javascript" src="/js/initialize.js")

  body