!!!
html
  head
    title Gutenberg

    meta(name="viewport", content="width=device-width, initial-scale=1, maximum-scale=1")

    // STYLES
    link(rel="stylesheet", href="/linker/styles/style.css")
    link(rel="stylesheet", href="/linker/styles/vendor/Jcrop.css")
    link(rel="stylesheet", href="/linker/styles/vendor/bootstrap.css")
    link(rel="stylesheet", href="/linker/styles/vendor/fineuploader-3.8.2.css")
    // STYLES END

    script(type="text/javascript" src="/vendor/require.js")
    script(type="text/javascript" src="/js/initialize.js")

  body