<div class='image' style='background-image:url({{url}})' data-id='{{id}}'></div>
<div class='btn-group'>
  <a class='edit btn btn-info btn-xs' data-id='{{id}}'>Edit</a>
  <a class='delete btn btn-danger btn-xs' data-id='{{id}}'>Delete</a>
</div>