/* Global Styles */
body{
  margin-bottom   : 50px;
}
#site-navigation h3{
  margin-bottom   : 30px;
}

/* ----------------------- */

/* Newsletter View */
#newsletter-view .nav{
  margin-bottom   : 30px;
}
#newsletter-view .publication-title-wrapper{
  margin-bottom   : 0px;
}
#newsletter-view .add-story-wrapper{
  overflow        : hidden;
}