/* Global Styles */
body{
  padding-bottom  : 10px;
}
.logout{
  font-size       : 90%;
  float           : right;
  margin-top      : 5px;
}
#site-navigation h3{
  margin-bottom   : 30px;
}
#site-navigation h3 a{
  color           : #333;
}
#site-navigation .breadcrumb:empty{
  display         : none;
}
/* ----------------------- */

/* Publications View */
.modal h6{
  font-size       : 12px;
  line-height     : 18px;
  opacity         : .8;
}
/* ----------------------- */

/* Publications View */
.list-group-item.unauthorized{
  opacity         : .5 !important;
  font-style      : italic;
}

/* ----------------------- */

/* Publication View */
#publication #users input{
  margin-bottom   : 15px;
}
#publication #users .notice{
  opacity         : .8;
  float           : right;
  width           : 70%;
  text-align      : right;
  font-size       : 80%;
}
#publication #users .filters{
  border-bottom   : 1px solid #dddddd;
  margin-bottom   : 20px;
}
#publication #users .filters label{
  margin-right    : 20px;
  margin-top      : 7px;
  font-weight     : normal;
  font-size       : 90%;
}
#publication #users .list-group{
  max-height      : 350px;
  overflow-y      : scroll;
  border-bottom   : 1px solid #dddddd;
  border-radius   : 0 0 5px 5px;
}
#publication #users .list-group-item .btn{
  margin-left     : 5px;
}

/* ----------------------- */

/* Newsletter View */
#newsletter-editor-view .nav, #newsletter-pre-view .nav{
  margin-bottom   : 15px;
}
#newsletter-editor-view .newsletter-attrs{
  padding         : 2% 2% 0.5% 2%;
  background-color: #f7f7f9;
  border          : 1px solid #e1e1e8;
  border-radius   : 5px;
}
#newsletter-editor-view .newsletter-attrs .form-group{
  margin-bottom   : 0px;
}
#newsletter-editor-view label{
  font-weight     : normal;
}
#newsletter-editor-view .channel_selectors input{
  margin-left     : 5px;
}
#newsletter-editor-view .channel_selectors label{
  text-align      : right;
  display         : block;
}
#newsletter-editor-view .newsletter-attrs input{
  border-radius   : 5px 5px 0 0;
  margin          : 0;
}
#newsletter-editor-view .newsletter-attrs input.tags{
  border-radius   : 0 0 5px 5px;
  border-top      : 0;
}
#newsletter-editor-view .add-story-wrapper{
  overflow        : hidden;
}
#newsletter-pre-view #publish-buttons{
  overflow        : hidden;
}
#newsletter-pre-view #publish{
  margin-left     : 10px;
}

  /* Templates Helper Widget */
  .template-helpers{
    background-color: #f7f7f9;
    border          : 1px solid #e1e1e8;
    border-radius   : 5px;
    margin-bottom   : 20px;
    overflow        : hidden;
  }
  .template-helpers .glyphicon{
    float           : right;
    margin          : 12px;
  }
  .template-helpers .show-helpers{
    display         : none;
  }
  .template-helpers h4{
    background-color: #ffffff;
    border-bottom   : 1px solid #e1e1e8;
    margin-top      : 0;
    padding         : 10px;
  }
  .template-helpers.hidden-content h4{
    background-color: #f7f7f9;
    padding-bottom  : 0;
    border-bottom   : none;
  }
  .template-helpers.hidden-content .hide-helpers{
    display         : none;
  }
  .template-helpers.hidden-content .show-helpers{
    display         : block;
  }
  .template-helpers .option-item{
    overflow        : hidden;
    border-bottom   : 1px solid #e1e1e8;
    padding-bottom  : 10px;
    margin-bottom   : 10px;
  }
  .template-helpers .option-item:last-child{
    border-bottom   : none;
    margin-bottom   : 0;
  }
    .template-helpers input{
      width           : 45%;
      float           : left;
      margin-left     : 10px;
      margin-bottom   : 15px;
    }
    .template-helpers .help-block{
      width           : 50%;
      margin          : 0;
      float           : right;
    }
/* ----------------------- */

/* Newsletter View */
#iframe-newsletter{
  width           : 100%;
  border          : none;
  min-height      : 300px;
  box-shadow:     : 0 0 10px rgba(0,0,0,.25);
}

/* ----------------------- */

/* Story View */
#stories .story{
  position        : relative;
  background-color: white;
}
#stories .media-list{
  list-style-type : none;
  margin          : 0;
  padding         : 0;
  overflow        : hidden;
}
#stories .video-list-container{
  border-top      : 1px solid #eee;
  margin-top      : 20px;
  padding-top     : 20px;
}
#stories .media-list li{
  float           : left;
  margin-right    : 15px;
  margin-bottom   : 15px;
  width           : 95px;
  height          : 95px;
  position        : relative;
  cursor          : move;
}
#stories .media-list li.sortable-placeholder {
  border          : 1px dashed #CCC;
}
#stories .media-container .media{
  width           : 100%;
  height          : 100%;
  background-size : cover;
  background-position : center;
}
#stories .media-container .media{
  background-color : #f5f5f5;
}
#stories .media-container:hover .btn-group{
  display         : block;
}
#stories .media-container .btn-group{
  display         : none;
  position        : absolute;
  bottom          : 5px;
  right           : 5px;
}
@media (max-width: 1200px){
  #stories .media-list li{
    width         : 86px;
    height        : 86px;
  }
}
@media (max-width: 992px){
  #stories .content-editor{
    margin-bottom : 50px;
  }
  #stories .media-list li{
    margin-right  : 7px;
    margin-bottom : 7px;
    width         : 69px;
    height        : 69px;
  }
}

/* ----------------------- */

/* Text Editor */
.editor-wrapper{
  margin-top      : 25px;
}
.editor{
  max-height      : 250px;
  height          : 250px;
  background-color: white;
  border-collapse : separate; 
  border          : 1px solid rgb(204, 204, 204); 
  padding         : 4px; 
  box-sizing      : content-box; 
  overflow        : scroll;
  outline         : none;
  -webkit-box-shadow: rgba(0, 0, 0, 0.0745098) 0px 1px 1px 0px inset; 
  box-shadow: rgba(0, 0, 0, 0.0745098) 0px 1px 1px 0px inset;
  border-top-right-radius: 3px; border-bottom-right-radius: 3px;
  border-bottom-left-radius: 3px; border-top-left-radius: 3px;
}
.editor-toolbar{
  margin-bottom   : 7px;
}
.editor-toolbar .btn{
  font-family     : "Times New Roman";
}
.editor-toolbar .btn.bold{
  font-weight     : bold;
}
.editor-toolbar .btn.italic{
  font-style      : italic;
}
.editor-toolbar .btn.strike{
  text-decoration : line-through;
}
.editor-toolbar .btn.underline{
  text-decoration : underline;
}
.editor-toolbar .add-btn{
  margin-top      : 5px;
  font-family     : "Helvetica", "Arial", "Sans-Serif";
}
.editor-toolbar .link-dropdown{
  padding         : 5px;
}
.editor-toolbar .link-input{
  padding-left    : 5px;
}
.editor-toolbar .link-button{
  border-radius   : 0 3px 3px 0 !important;
}
.editor div[data-role="editor-toolbar"] {
  -webkit-user-select   : none;
  -moz-user-select      : none;
  -ms-user-select       : none;
  user-select           : none;
}
.editor .dropdown-menu a {
  cursor: pointer;
}

/* ----------------------- */

/* Image Uploader */
.qq-uploader .btn{
  width           : 100%;
}
.qq-uploader input[type=file]{
  width           : 100%;
}
.qq-upload-list li{
  font-size       : 85%;
  border-radius   : 0;
  border-bottom   : 1px solid #EDD995;
}
.qq-upload-list li .qq-upload-status-text{
  display         : none;
}
.qq-upload-list li .qq-upload-size{
  font-size       : 80%;
}
.qq-upload-list li.alert-success{
  display         : none;
}
.qq-upload-list li:first-child{
  border-radius   : 4px 4px 0 0;
}
.qq-upload-list li:last-child{
  border-radius   : 0 0 4px 4px;
  border-bottom   : none;
}
.qq-uploader 

/* ----------------------- */

/* Image Cropper */
#image-cropper .jcrop-keymgr{
  display         : none;
  left            : -1000px !important;
}
#image-cropper .modal-dialog{
  width           : 860px;
}
#image-cropper .croppable-items{
  overflow        : hidden;
}
#image-cropper .croppable-item{
  display         : block;
  float           : left;
  margin-right    : 10px;
  margin-bottom   : 10px;
}
#image-cropper .image-preview-wrapper{
  overflow        : hidden;
}
#image-cropper .image-preview-wrapper.selected{
  border          : 1px solid grey;
}
#image-cropper .image-preview-wrapper img{
  opacity         : .25;
}
#image-cropper .image-preview-wrapper.selected img{
  opacity         : 1;
}

/* ----------------------- */