<div class='panel panel-default'>
  <div class='panel-heading'>
    <h4>Publications</h4>
  </div>

  <div class='panel-body'>
    <div class='list-group'></div>

    <a class='btn pull-right btn-success' id='add-publication'>Add a New Publication</a>
  </div>
</div>